@model TextField
@{
    ViewBag.Title = Model.MetaTitle;
    ViewBag.Description = Model.MetaDescription;
    ViewBag.Keywords = Model.MetaKeywords;
}

<div>
    @*Вывод содержимого свойства Text в том виде как есть при помощи метода Raw().
    Этот метод не экранирует и не кодирует служебные символы, в том числе и html-теги.*@
    @Html.Raw(Model.Text)
</div>
