@model TextField
@{
    ViewBag.Title = Model.MetaTitle;
    ViewBag.Description = Model.MetaDescription;
    ViewBag.Keywords = Model.MetaKeywords;
}

<div>
    @*Displaying the contents of the Text property as is, 
    without modification, using the Raw() method. 
    This method does not escape or encode service characters, 
    including html tags.
    This is not safe, because the browser can execute the code.*@
    @Html.Raw(Model.Text)
</div>