@model IQueryable<ServiceItem>

@if (Model?.Any() == true){

    <section>
        <h2>Our services</h2>

        @*In an unnumbered list, we display a list of our services.*@
        <ul class="small-image-list">
            @foreach (ServiceItem entity in Model)
            {
                <li>
                    <a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="@entity.Id">
                        
                        @*Clickable title image of our service.*@
                        <img src="~/images/@entity.TitleImagePath" alt="" class="left" />
                    </a>

                    <h4>
                        @*Service name.*@
                        @entity.Title
                    </h4>

                    <p>
                        @*A brief description of the service.*@
                        @entity.Subtitle
                    </p>
                </li>
            }
        </ul>
    </section>
}