@*As a model, one service.*@
@model ServiceItem
@{
    //Filling in all mega tags from Model.
    ViewBag.Title = Model.MetaTitle;
    ViewBag.Description = Model.MetaDescription;
    ViewBag.Keywords = Model.MetaKeywords;
}

<div>
    <h2>
        @*Service name.*@
        @Model.Title
    </h2>

    <h2>
        @*A brief description of the service.*@
        @Model.Subtitle
    </h2>

    <div>
        @*Title picture of the service.*@
        <img class="img-block" src="~/images/@Model.TitleImagePath" />
    </div>
</div>

<div>
    @*Displaying the contents of the Text property as is, 
    without modification, using the Raw() method. 
    This method does not escape or encode service characters, 
    including html tags.
    This is not safe, because the browser can execute the code.*@
    @Html.Raw(Model.Text)
</div>