@using MyCompany.Service
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

@*// Dynamic Title.*@
@if (ViewBag.Title != null){
    <title>@ViewBag.Title</title>
}
else{
    <title>@Config.CompanyName</title>
}

@*// Dynamic Description.*@
@if (ViewBag.Description != null){
    <meta name="description" content="@ViewBag.Description" />
}

@*// Dynamic Keywords.*@
@if (ViewBag.Keywords != null){
    <meta name="keywords" content="@ViewBag.Keywords" />
}
